<!doctype html>
<html lang="en" class="no-js">
    <head>
        <!-- Title and Icon -->

        <title>MiroTalk - About.</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="MiroTalk powered by WebRTC, Real-time Simple Secure Fast video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop."
        />
        <meta
            name="keywords"
            content="webrtc, miro, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="MiroTalk" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="MiroTalk calling provides real-time HD quality and latency simply not available with traditional technology."
        />
        <meta property="og:image" content="https://p2p.mirotalk.com/images/preview.png" />
        <meta property="og:url" content="https://p2p.mirotalk.org" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <!-- JavaScripts -->

        <script async src="../js/umami.js"></script>
    </head>
    <body>
        <main>
            <div
                style="
                    position: relative;
                    width: 100%;
                    height: 0;
                    padding-top: 56.25%;
                    padding-bottom: 48px;
                    box-shadow: 0 2px 8px 0 rgba(63, 69, 81, 0.16);
                    margin-top: 1.6em;
                    margin-bottom: 0.9em;
                    overflow: hidden;
                    border-radius: 8px;
                    will-change: transform;
                "
            >
                <iframe
                    loading="lazy"
                    style="
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        left: 0;
                        border: none;
                        padding: 0;
                        margin: 0;
                    "
                    src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAE693uLOIU&#x2F;view?embed"
                    allowfullscreen="allowfullscreen"
                    allow="fullscreen"
                >
                </iframe>
            </div>
        </main>
        

        <script defer src="../js/landing.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
